/*Mobile-Devices
@media (min-width: 320px) and (max-width: 480px) {
  .logo {
    font-size: 15px;
  }
  .logoimg {
    width: 50px;
    height: 50px;
  }
  .navbar {
    width: 30%;
  }
  .navlinks li {
    font-size: 10px;
  }
}*/
@media (max-width: 480px) {
  .navbar .logo,
  .navbar .navlinks {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    background-color: beige;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .logoimg {
    padding-left: 50px;
    text-align: center;
    align-items: center;
    width: 250px;

    justify-content: center;
  }
  .navbar .tooglebutton {
    display: block;
    padding-right: 20px;
    padding-top: 20px;
  }
  .dropdownmenu {
    display: block;
    z-index: 1;
    padding-left: 200px;
  }
  .hero {
    margin: 0;
    padding: 0;
    background-image: url("assets/bsa.jpg");
    background-size: cover;
    width: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 100px 20px;
    text-align: center;
  }
  .hero h2 {
    font-size: 40px;
    text-align: center;
  }
  .hero p {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    justify-content: center;
  }
  .btn {
    background-color: black;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 3rem;
    border-radius: 5px;
  }
  .btn:hover {
    background-color: #444;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  .gallerycontent {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 50px;
    align-items: center;
    align-content: center;
    width: 940px;
    padding-right: 100px;
    transition: all 1s ease;
  }
  .gallerycontent:hover {
    background-color: beige;
    color: black;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;

    transition: all 1s ease;
  }
  .model1 {
    grid-row: span 3 / span 3;
    transition: all 1s ease;
    padding-left: 300px;
  }
  .model2 {
    grid-row: span 3 / span 3;
    transition: all 1s ease;
    padding-left: 300px;
  }
  .model3 {
    grid-row: span 3 / span 3;
    transition: all 1s ease;
    padding-left: 300px;
  }
  .abtdiv {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
  }
  .abtdiv p {
    color: black;
    font-size: 25px;
    padding-right: 0px;
  }
  .abtdiv img {
    width: 5000px;
    padding-left: 50px;
    transform: scale(1.6);
    padding-top: 250px;
  }
  .Contact {
    display: flex;
    flex-direction: column;
    width: 1030px;
  }
  h1 {
    text-align: center;
    padding-left: 300px;
  }

  textarea {
    background-color: beige;
    border: 3px solid black;
    border-radius: 15px;
    font-family: "Times New Roman", Times, serif;
    width: 1020px;
  }
  footer {
    width: 1030px;
  }
}
