html {
  background-color: beige;
  font-family: "UnifrakturMaguntia";
  font-weight: 100;
  font-style: normal;
}
.logo {
  color: black;
  font-size: 30px;
  padding-left: 20px;
  transition: 1s ease;
}
.logo:hover {
  transform: scale(1.3);
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logoimg {
  padding-left: 40px;
}
.navlinks li {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 1s ease;
}
.navlinks li:hover {
  transform: scale(1.3);
}

.navlinks a {
  color: black;
  text-decoration: none;
  transition: all 1s ease;
}

.navlinks a::after {
  content: "";
  width: 0;
  display: block;
  background-color: black;
  height: 3px;
  transition: width 1s ease;
}
.navlinks a:hover::after {
  width: 100%;
}
.hero {
  background-image: url('bsa.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 100px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.btn {
  background-color: black;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn:hover {
  background-color: #444;
}
footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}